$default-background: #2D3047;
$default-background-darker: #000000;
$default-foreground: #A15E49;
$default-accent-sunglow: #FFD166;
$default-accent-skyblue: #6DC0D5;
$text-color: white;

$default-font: "Segoe UI";

.title {
  color: $text-color;
  font-size: 24px;
  line-height: 32px;
}

.sub-title {
  color: $text-color;
  font-size: 20px;
  line-height: 24px;
}

.button-text {
  color: $default-accent-skyblue;
  font-size: 20px;
  line-height: 32px;
}

.body {
  color: $text-color;
  font-size: 14px;
  line-height: 20px;
}

.supporting-text {
  color: $text-color;
  font-size: 10px;
  line-height: 16px;
}

a {
  text-decoration: none;
}

// main is the component enclosing the Home content, including a background image and the text content it will have above it.
// The layering of the content is done with grid: main is the parent, .backrground-img and .home-content are its children
main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.background-img {
  z-index: -2;
  grid-area: 1 / 1 / 3 / 2;
}

.home-content {
  color: $text-color;
  z-index: 0;
  grid-area: 1 / 1 / 2 / 2;
}