$default-background: #2D3047;
$default-background-darker: #000000;
$default-foreground: #A15E49;
$default-accent-sunglow: #FFD166;
$default-accent-skyblue: #6DC0D5;
$text-color: white;

$default-font: "Segoe UI";

.title {
  color: $text-color;
  font-size: 24px;
  line-height: 32px;
}

.sub-title {
  color: $text-color;
  font-size: 20px;
  line-height: 24px;
}

.button-text {
  color: $default-accent-skyblue;
  font-size: 20px;
  line-height: 32px;
}

.body {
  color: $text-color;
  font-size: 14px;
  line-height: 20px;
}

.supporting-text {
  color: $text-color;
  font-size: 10px;
  line-height: 16px;
}

a {
  text-decoration: none;
}

.home-content {
  color: $text-color;
  width: 100vw;
  height: 100vh;
}